.container {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    background-color: darkblue;
    flex: 1;
}

.title {
    color: white;
    font-size: 20px;
    padding: 20px 10px;
    border-bottom: 2px solid white;
}

.button {
    background-color: blue;
    box-shadow: 0 0 5px black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
    border: none;
}

.listaDeGrupos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    gap: 30px;
}