.container {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    background-color: darkblue;
    flex: 1;
}

.title {
    color: white;
    font-size: 20px;
    padding: 20px 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px
}
.inputsContainer {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    gap: 10px;
  }