.container {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    max-width: 80%;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px;
    gap: 20px;
}